:root{
--color-logo: #4d5ae5;
--button-color:#4d5ae5;
--color-logo-studio:  #2E2F42;
--menu-color: #2e2f42 ;
--hover-color: #404BBF;
--body-color:#434455;
--title-portfolio-color:#2e2f42;
--text-portfolio-color:#434455;
--adress-color: #434455;
--title-color: #2e2f42;


}
.body{
font-family:'Roboto', sans-serif  ;
letter-spacing: 0.02em;
color: var(--body-color);
}
.link{
text-decoration: none;
}

.list {
list-style: none;
}
/**______HEADER______**/
.header {
background-color:#ffffff;
}
.header-nav {
}

.header-logo {
font-family: 'Raleway', sans-serif;
font-weight: 800 ;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-logo); 
}
.std{
color: var(--color-logo-studio); 
}

.header-item {    font-weight: 500;
letter-spacing: 0.02em;
font-size: 16px;
line-height: 1.5;
color: var(--menu-color);
}
.header-item :hover, .header-item :focus {
color: var(--hover-color);
}
.header-link {
color: var(--menu-color);
}

.header-address {
font-style: normal;
}
.header-address-list {
}
.header-address-item {
font-size: 16px;
line-height: 1.5;
color: var(--adress-color);  
}
.header-tel {
color: var(--adress-color)
}
.header-address-item :hover, .header-address-item :focus {
color: var(--hover-color);
}
.header-mail {
color: var(--adress-color)
}
/**______SOLUTION______**/
.solution {
background: #2E2F42;
}
.solution-title {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.solution-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #4D5AE5;
cursor: pointer;
}
.solution-btn:hover,.solution-btn :focus{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background: #404BBF;   
}

/**______WORKING______**/

.Working {
}
.working-title {

}
.Working-list {
}
.working-item {
}
.working-item-title {
letter-spacing: 0.02em;
font-size: 20px;
line-height: 1.2;
}
.working-item-text {
font-size: 16px;
line-height: 1.5;
color: #434455;
}
/**______activities______**/

.activities {
}
.activities-title {
text-align: center;
text-transform: capitalize; 
font-size: 36px;
line-height: 1.11;
color: var(--title-color);
}
.activities-list {
}
.activities-item {
}

/**______team______**/

.team {
background: #F4F4FD;
}
.team-title {
font-size: 36px;
line-height: 1.11;
text-align: center ;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--title-color);
}
.team-list {
}
.team-item {
}
.team-item-title {
font-size: 20px;
line-height: 1.2;
font-weight: 500;
letter-spacing: 0.02em ;
color: var(--title-color);
}
.team-item-text {
font-size: 16px;
line-height: 1.5;
color: #434455;
}

/**______footer______**/

.footer {
background: #2E2F42;
}
.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height:1.17;
letter-spacing: 0.03em;
color: var(--color-logo);
text-transform: uppercase;
}
.std-footer{
color: #F4F4FD;
}

.footer-text {
font-size: 16px;
line-height: 1.5; 
color: #E7E9FC;
}
/**______filter______**/

.filter {
}
.filter-list {
}
.filter-item {
}
.filter-btn {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--button-color);
background: #F4F4FD;
cursor: pointer;
}
.filter-btn :hover, .filter-btn:focus{
color: #FFFFFF;
background: #404BBF;
}

/**______portfolio______**/

.portfolio {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--title-portfolio-color);
}
.portfolio-item-bottom-text {
font-size: 16px;
line-height: 1.5;
color: var(--text-portfolio-color);
letter-spacing: 0.02em;
}